.overview {
  width: 100%;
  display: flex;
}

.info-page {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 85vh;
  width: 70%;
  gap: 1em;
  padding: 1em 2em;
  padding-bottom: 0;
}

.suggestions {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.goal-process {
  grid-column: span 3;
}

.overview .schedule-page {
  margin-top: 1em;
  width: 28%;
}