.userpage {
  background-color: #f2fcff;
}
.user-navbar {
  display: flex;
  height: 4.5em;
  background-color: #0792b1;
  align-items: center;
  gap: 1.5em;
  padding-left: 1.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-navbar .fa-arrow-left-long {
  color: white;
  cursor: pointer;
  font-size: 1.6em;
}

.user-navbar p {
  color: white;
  font-size: 1.2em;
}

.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3em;
  width: 100%;
  height: 100vh;
}

.middle-section .left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  height: 30em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.middle-section .left-section p:nth-of-type(1) {
  font-size: 1.5em;
  color: #004352;
}

.middle-section .left-section p:nth-of-type(2) {
  font-size: 0.8em;
  color: grey;
}

.middle-section .left-section button {
  border: none;
  width: 8em;
  height: 2em;
  border-radius: 5px;
  background-color: #b0e0eb;
  margin-top: 2em;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.middle-section .left-section button:hover {
  background-color: #d3f5fd;
  transform: scale(1);
}


.middle-section .right-section {
  width: 40em;
  height: 30em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

#user-profile {
  color: #004352;
  font-size: 1.3em;
  margin: 0 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

#user-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

#demo-simple-select {
  margin-left: 1.5em;
}

.save-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.save-btn {
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #b0e0eb;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.disabled {
  background-color: #D7DAE1;
}

.save-btn:hover {
  background-color: #d3f5fd;
}

.save-btn > p {
  font-size: 16px;
}
