.workout-plan {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout-plan-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 7em;
  background-color: #87d3df;
  margin: 2em;
  margin-top: 0;
}

#go-to-info {
  position: absolute;
  top: 1em;
  left: 1.2em;
}

#title {
  color: #004352;
  font-size: 2em;
  margin-top: 1.3em;
}

.select-workout-type {
  margin: 2em;
  margin-top: 2em;
}

.input-table {
  margin: 2em;
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.finish-btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.finish-btn {
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #b0e0eb;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-bottom: 2em;
}

.finish-btn > p {
  font-size: 16px;
}

#submit-message {
  margin-bottom: 7em;
}